@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(0, 0%, 59%);
  font-size: 18px;
  padding: 0;
  margin: 0;
}

body {
  align-items: center;
  background: linear-gradient(
      34deg,
      rgba(4, 208, 226, 1) 0%,
      rgba(0, 130, 142, 1) 35%
    )
    fixed;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.background {
  &__pattern--top {
    position: absolute;
    top: -45%;
    left: -10%;
    width: 915px;
    height: auto;

    @media (max-width: 376px) {
      top: -50%;
      width: 500px;
      left: -80%;
    }
  }

  &__pattern--bottom {
    position: fixed;
    bottom: -74%;
    width: 915px;
    right: -10%;
    height: auto;
    min-height: 0;

    @media (max-width: 376px) {
      bottom: -50%;
      width: 500px;
      right: -80%;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  text-align: center;
  position: relative;
  margin: 0;
  height: 400px;
  width: 360px;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.31);

  @media (max-width: 376px) {
    margin: 0 25px;
  }

  &__bg {
    border-radius: 20px 20px 0 0;
    width: 100%;
  }
  &__visual {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #fff;
    top: 78px;
    left: 130px;

    @media (max-width: 376px) {
      left: 105px;
      width: 115px;
      height: 115px;
    }
  }

  &__title {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem 0 0 0;
    padding: 70px 20px 0 30px;

    &--age {
      color: hsl(0, 0%, 59%);
      font-weight: 400;
      font-size: 24px;
      padding: 0 1px;
    }
  }
  &__subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    margin: 0.25rem 0 0.5rem 0;
    padding-bottom: 15px;
    color: hsl(0, 0%, 59%);
  }
}

.card__stats {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;

  &-amount {
    font-weight: 700;
    color: black;
  }

  &-how {
    color: hsl(0, 0%, 59%);
    font-size: 14px;
    padding: 10px 0;
  }
}

.breakline {
  color: hsl(0, 0%, 59%);
  height: 1px;
  opacity: 0.3;
}
